# dependencies
node_modules/

# next.js
.next/
out/

# env
.env
.env.local
.env*.local

# prisma
prisma/dev.db

# misc
.DS_Store
*.log
coverage/
.vercel

# prisma generated client
/src/generated

# typescript incremental build cache
*.tsbuildinfo
